
footer {
  background-image: url(../images/subDir/footer.63612.png);
  background-image: url('../images/subDir/footer.63612.png');
  background-image: url("../images/subDir/footer.63612.png");
  background-image: url( "../images/subDir/footer.63612.png" );
}

header {
  background-image: url(../images/header.bg.965.gif);
  background-image: url('../images/header.bg.965.gif');
  background-image: url("../images/header.bg.965.gif");
  background-image: url( "../images/header.bg.965.gif" );
}

body {
  background: url(../images/body.6581.jpg);
  background: url('../images/body.6581.jpg');
  background: url("../images/body.6581.jpg");
  background: url( "../images/body.6581.jpg" );
}
